{% extends "layout.html" %}
{% block content %}

<h2>Login</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="/login" method="post">
Username: <br><input type="text" name="username">
<p>
Password: <br><input type="password" name="password">
<p>
<input type="submit" value="Login">
</form>
If you dont have an account you can create new one <a href="/register">here</a>

<p>
<a href="/">Go Back</a>

{% endblock %}